@use "./functions" as u;

// * [1] Login & Signup Popup

.close-icon {
  position: absolute;
  top: u.rem(2);
  right: u.rem(2);
  font-size: u.rem(24);
  color: var(--red-color);
  cursor: pointer;
  transition: var(--short-duration);

  &:hover {
    transform: scale(1.1);
  }
}

.box {
  border: 1px solid var(--gray-color);
  background-image: var(--primary-gradient);
  @include u.radius(8);
  overflow: hidden;
  transition: var(--mid-duration);

  &:hover {
    box-shadow: var(--box-shadow-1);
  }

  .image {
    background-color: var(--white-color);
    @include u.d-flex(center, center);
    position: relative;
    cursor: pointer;
  }

  .info {
    .price {
      background-color: var(--primary-color);
      color: var(--black-color);
    }

    .price,
    .old-price {
      display: block;
      position: relative;
      padding: u.rem(7) u.rem(10) u.rem(7) u.rem(14);
      width: fit-content;
      margin: u.rem(10) 0;
      @include u.radius(8);
      font-size: u.rem(16);
      font-weight: 500;

      &::before {
        content: "$";
        position: absolute;
        left: u.rem(3);
      }
    }

    .old-price {
      background-color: var(--red-color);
      color: var(--white-color);
      opacity: 0.8;

      &::after {
        content: "";
        @include u.transform-center(50%, 50%);
        width: 75%;
        background-color: var(--white-color);
        height: u.rem(2);
      }
    }
  }
}

.txt-1 {
  font-size: clamp(u.rem(18), 2.8vw, u.rem(30));
}

.txt-2 {
  font-size: clamp(u.rem(16), 2.8vw, u.rem(20));
}

.txt-3 {
  font-size: clamp(u.rem(12), 2.8vw, u.rem(16));
}

.btn {
  width: fit-content;
  color: var(--black-color);
  text-align: center;
  text-transform: capitalize;
  border: none;
  @extend .txt-2;
  @include u.radius(8);
  line-height: 1.5;
  cursor: pointer;
  transition: var(--mid-duration);
  font-family: "Roboto", sans-serif;
}

.special-btn {
  background-color: var(--primary-color);
  padding: u.rem(10) u.rem(30);
  font-weight: 500;

  &.centered {
    margin: u.rem(20) auto 0;
    display: flex;
  }

  &.no-more {
    background-color: var(--red-color);
    color: var(--white-color);
    pointer-events: none;
  }
}

.special-heading {
  margin: 0 auto u.rem(40);
  z-index: -1;
  text-align: center;

  h2 {
    font-size: u.rem(28);
    color: #999;
    letter-spacing: u.rem(15);
    text-transform: uppercase;

    @include u.breakpoint(medium) {
      font-size: u.rem(38);
    }

    @include u.breakpoint(xlarge) {
      font-size: u.rem(42);
    }
  }

  p {
    color: var(--dark-gray-color);
  }

  span {
    color: var(--primary-color);
    font-weight: bold;
  }
}

.cart .title {
  width: fit-content;
  color: var(--dark-gray-color);
  font-size: u.rem(30);
  padding-bottom: u.rem(10);
  margin-bottom: u.rem(20);
  border-bottom: u.rem(2) solid var(--primary-color);
  text-transform: capitalize;
}

.transparent-btn {
  background-color: transparent;
  outline-color: transparent;
  border-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--short-duration);

  &:hover {
    color: var(--primary-color);
  }
}

.scroll-to-top {
  width: fit-content;
  padding: u.rem(5);
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: u.rem(6);
  position: fixed;
  bottom: u.rem(10);
  right: u.rem(10);
  font-size: u.rem(30);
  @include u.d-flex(center, center);
  transition: var(--mid-duration);
  opacity: 0;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: unset;
    cursor: pointer;
  }
}

.gallery .box.hidden {
  display: none;
}
