@use "../util/" as u;

.new {
  position: relative;

  .products {
    @include u.d-grid(4, 30, 30);

    .box {
      max-width: 250px;
      margin: 0 auto;

      @include u.breakpoint(small) {
        max-width: unset;
        margin: unset;
      }

      &:hover {
        transform: scale(1.04);
      }
    }
  }
}
