@use "../util" as u;

.reco {
  position: relative;

  .filter-btns {
    @include u.d-flex(space-around, center);
    gap: 20px;
    overflow-x: auto;

    @include u.breakpoint(small) {
      justify-content: center;
    }

    button {
      padding: u.rem(10);
      &:hover,
      &.active {
        color: var(--white-color);
        background-color: var(--black-color);
      }
    }
  }

  .swiper {
    margin-top: u.rem(20);
  }

  .swiper-button {
    display: none;
    color: var(--primary-color);
    @include u.breakpoint(medium) {
      display: block;
    }
  }

  .swiper-pagination span {
    background-color: var(--primary-color);
  }

  .box {
    .product-sizes {
      background-color: var(--primary-color);
      padding: u.rem(2);
      color: var(--black-color);
      outline-color: transparent;
    }
  }
}
